In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
df = pd.read_csv('attacksoriginal.csv',encoding='latin-1')

In [3]:
df=df.rename(columns={'Unnamed: 22':'Additional Info','Unnamed: 23': 'Others'})
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Additional Info         1 non-null      object
 23  Others                  2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

In [4]:
df1=df.copy()

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Additional Info         1 non-null      object
 23  Others                  2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

In [6]:
df=df.dropna(axis=0,how='all')

In [7]:
df=df.drop(25722)

In [8]:
df.dropna(thresh=10,inplace=True)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6302 entries, 0 to 6301
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             6301 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6302 non-null   float64
 22  Additional Info         1 non-null      object
 23  Others                  2 non-null      object
dtypes: float64(2), object(22)
memory usage: 1.2+ MB

In [10]:
df1=df.copy

In [11]:
df['Others']=df['Others'].fillna('Not provided')
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6302 entries, 0 to 6301
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             6301 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6302 non-null   float64
 22  Additional Info         1 non-null      object
 23  Others                  6302 non-null   object
dtypes: float64(2), object(22)
memory usage: 1.2+ MB

In [12]:
df['Additional Info']=df['Additional Info'].fillna('Not provided')
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6302 entries, 0 to 6301
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             6301 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6302 non-null   float64
 22  Additional Info         6302 non-null   object
 23  Others                  6302 non-null   object
dtypes: float64(2), object(22)
memory usage: 1.2+ MB

In [13]:
df=df.rename(columns={'Case Number': 'Id'})

In [14]:
df['Id'] = range(1, 1+len(df))

In [15]:
df.head(5)

,Id,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Additional Info,Others
0,1,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,Not provided,Not provided
1,2,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,Not provided,Not provided
2,3,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,Not provided,Not provided
3,4,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,Not provided,Not provided
4,5,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,Not provided,Not provided

In [16]:
df['Year']=df['Year'].fillna(0)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6302 entries, 0 to 6301
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Id                      6302 non-null   int32
 1   Date                    6302 non-null   object
 2   Year                    6302 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6302 non-null   float64
 22  Additional Info         6302 non-null   object
 23  Others                  6302 non-null   object
dtypes: float64(2), int32(1), object(21)
memory usage: 1.2+ MB

In [18]:
df.Year=df.Year.astype(int)

In [19]:
df['Type'].unique()

array(['Boating', 'Unprovoked', 'Invalid', 'Provoked', 'Questionable',
       'Sea Disaster', nan, 'Boat', 'Boatomg'], dtype=object)

In [20]:
df['Type']=df['Type'].fillna('Unknown')

In [21]:
df.replace({'Type':'Unkown'},'Unknown',inplace=True)

In [22]:
df['Type'].unique()

array(['Boating', 'Unprovoked', 'Invalid', 'Provoked', 'Questionable',
       'Sea Disaster', 'Unknown', 'Boat', 'Boatomg'], dtype=object)

In [23]:
df.replace({'Type': r'^Boa.$'}, {'Type': 'Boating'}, regex=True, inplace=True)

In [24]:
df['Type'].unique()

array(['Boating', 'Unprovoked', 'Invalid', 'Provoked', 'Questionable',
       'Sea Disaster', 'Unknown', 'Boatomg'], dtype=object)

In [25]:
df.replace({'Type':'Boatomg'},'Boating',inplace=True)

In [26]:
df['Type'].unique()

array(['Boating', 'Unprovoked', 'Invalid', 'Provoked', 'Questionable',
       'Sea Disaster', 'Unknown'], dtype=object)

In [27]:
df.replace({'Type': 'Invalid'},'Unknown',inplace=True)

In [28]:
df['Type'].unique()

array(['Boating', 'Unprovoked', 'Unknown', 'Provoked', 'Questionable',
       'Sea Disaster'], dtype=object)

In [29]:
df.replace({'Type':'Sea Disaster'},'Unprovoked',inplace=True)
#a sea disaster is not considered as provoked by the victim

In [30]:
df['Type'].value_counts()

Unprovoked      4834
Provoked         574
Unknown          551
Boating          341
Questionable       2
Name: Type, dtype: int64

In [31]:
df.loc[df['Type']=='Questionable']
#2 questionables practicing surfing not enough info so coulb be classified as unkown

,Id,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Additional Info,Others
16,17,09-May-2018,2018,Questionable,AUSTRALIA,New South Wales,"Sharpes Beach, Ballina",Surfing,male,M,...,Shark involvement not confirmed,"B. Myatt, GSAF",2018.05.09-SharpesBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.09,2018.05.09,6287.0,Not provided,Not provided
20,21,25-Apr-2018,2018,Questionable,AUSTRALIA,New South Wales,Lennox Head,Surfing,Matthew Lee,M,...,Questionable,"B. Myatt, GSAF",2018.04.25.b-Lee.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.04.25.b,2018.04.25.b,6283.0,Not provided,Not provided

In [32]:
df.replace({'Type':'Questionable'},'Unknown',inplace=True)

In [33]:
df[df["Country"].isnull()]

,Id,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Additional Info,Others
62,63,Reported 13-Nov-2017,2017,Unprovoked,NaN,NaN,NaN,Surfing,Timur Yunusov,M,...,NaN,Instagram,2017.11.13.R-Timur.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.11.13.R,2017.11.13.R,6241.0,Not provided,Not provided
525,526,Aug-2014,2014,Unknown,NaN,NaN,NaN,Sea disaster,Cuban refugees,M,...,Shark involvement not confirmed,"Associated Press, 11/27/2014",2014.08.00-Cuban-refugees.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2014.08.00,2014.08.00,5778.0,Not provided,Not provided
2956,2957,Ca. 1983,1983,Unprovoked,NaN,English Channel,NaN,Swimming,Padma Shri Taranath Narayan Shenoy,M,...,NaN,"Times of India, 2/5/2012",1983.00.00.d-Shenoy.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1983.00.00.d,1983.00.00.d,3347.0,Not provided,Not provided
3378,3379,Nov-1970,1970,Unprovoked,NaN,NaN,NaN,NaN,Heinz Plotsky,M,...,NaN,"H.D. Baldridge (1994), SAF Case #1645",1970.11.00-NV-Plotsky.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1970.11.00,1970.11.00,2925.0,Not provided,Not provided
3387,3388,02-Aug-1970,1970,Unknown,NaN,Caribbean Sea,Between St. Kitts & Nevis,Sea Disaster Sinking of ferryboat Christina,NaN,NaN,...,Shark involvement prior to death was not confi...,"Rome News Tribune, 8/3/1970",1970.08.02-Christina-ferryboat.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1970.08.02,1970.08.02,2916.0,Not provided,Not provided
3388,3389,5-Jul-1970,1970,Unprovoked,NaN,NaN,NaN,NaN,male,M,...,Mako shark,"H.D. Baldridge (1994), SAF Case #1628",1970.07.05-NV-male.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1970.07.05,1970.07.05,2915.0,Not provided,Not provided
3395,3396,Apr-1970,1970,Provoked,NaN,NaN,NaN,Freediving,Lionel Jarvis,M,...,Wobbegong shark,"H.D. Baldridge (1994), SAF Case #1616",1970.04.00.b-NV-Jarvis.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1970.04.00.b,1970.04.00.b,2908.0,Not provided,Not provided
3399,3400,5-Feb-1970,1970,Unprovoked,NaN,NaN,NaN,Wading,Sally Anne Irvine,F,...,Carpet shark,H.D. Baldridge (1994) SAF Case #1626,1970.02.05-NV-Irvine.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1970.02.05,1970.02.05,2904.0,Not provided,Not provided
3425,3426,Aug-1969,1969,Unprovoked,NaN,NaN,NaN,NaN,Rodney Hughes,M,...,NaN,H.D. Baldridge (1994) SAF Case #1602,1969.08.00-NV-Hughes.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1969.08.00,1969.08.00,2878.0,Not provided,Not provided
3605,3606,21-Oct-1965,1965,Unprovoked,NaN,NaN,Florida Strait,The boat Caribou II sank,Mario Castellanos,M,...,NaN,"Lodi News Sentinel, 10/30/1965",1965.10.21-Castellanos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1965.10.21,1965.10.21,2698.0,Not provided,Not provided
3661,3662,27-Sep-1964,1964,Unknown,NaN,NaN,NaN,Spearfishing,Giancarlo Griffon,M,...,Shark involvement prior to death was not confi...,C. Moore. GSAF,1964.09.27-Griffon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1964.09.27,1964.09.27,2642.0,Not provided,Not provided
4018,4019,26-Jan-1960,1960,Unprovoked,NaN,"Between Timor & Darwin, Australia",NaN,Portuguese Airliner with 9 people aboard went ...,NaN,NaN,...,NaN,"V.M. Coppleson (1962), p.260",1960.01.26-Portuguese airliner.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1960.01.26,1960.01.26,2285.0,Not provided,Not provided
4231,4232,13-Sep-1956,1956,Unprovoked,NaN,Near the Andaman & Nicobar Islands,NaN,Climbing back on ship,male,M,...,Blue shark,M. Hosina,1956.09.13-TunaBoat.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1956.09.13,1956.09.13,2072.0,Not provided,Not provided
4266,4267,1956,1956,Unprovoked,NaN,Between Comores & Madagascar,Geyser Bank,Shipwreck,"Captain Eric Hunt, the cook & a French passenger",M,...,NaN,dinofish.com,1956.00.00.g-Capt-Hunt.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1956.00.00.g,1956.00.00.g,2037.0,Not provided,Not provided
4498,4499,Dec-1949,1949,Unprovoked,NaN,Caribbean Sea,Between Cuba & Costa Rica,"Sea Disaster, sinking of the motorship Wingate","Albert Battles, James Dean & 4 crew",M,...,Shark involvement not confirmed,"Canberra Times, 1/6/1950",1949.12.00.b-Wingate.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1949.12.00.b,1949.12.00.b,1805.0,Not provided,Not provided
4639,4640,24-Oct-1944,1944,Unprovoked,NaN,NaN,225 miles east of Hong Kong,Japanese POW ship Arisan Maru with 1800 Americ...,NaN,M,...,NaN,internet (multiple),1944.10.24-ArisanMaru.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1944.10.24,1944.10.24,1664.0,Not provided,Not provided
4700,4701,Nov-1942,1942,Unprovoked,NaN,Off South American coast,NaN,Dutch merchant ship Zaandam torpedoed by the ...,NaN,M,...,NaN,"M. Murphy; V.M. Coppleson (1962), pp.207-208",1942.11.00.a-Izzi.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1942.11.00.a,1942.11.00.a,1603.0,Not provided,Not provided
4712,4713,Jun-1942,1942,Unprovoked,NaN,300 miles east of St. Thomas (Virgin Islands),NaN,On life raft tethered to lifeboat. A seaman pu...,male,M,...,NaN,"V.M. Coppleson (1962), p.258",1942.06.00-on-life-raft.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1942.06.00,1942.06.00,1591.0,Not provided,Not provided
4726,4727,1942,1942,Unprovoked,NaN,NaN,NaN,Jumped overboard from torpedoed Panamanian fre...,male,M,...,NaN,"V.M. Coppleson (1962), p.258",1942.00.00.e-seaman.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1942.00.00.e,1942.00.00.e,1577.0,Not provided,Not provided
4729,4730,1942,1942,Boating,NaN,NaN,NaN,"Days before the surrender of Singapore, the 3 ...","Bombardier J. Hall, Private Green of the Sherw...",M,...,NaN,"V.M. Coppleson (1962), p.206",1942.00.00.b-Hall-Green-Jennings.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1942.00.00.b,1942.00.00.b,1574.0,Not provided,Not provided
4911,4912,Reported 12-Apr-1935,1935,Unprovoked,NaN,NaN,NaN,Diving,Pearl Purdy Scott,F,...,NaN,"Port Arthur News, 4/12/1935",1935.04.12.R-PearlPurdyScott.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1935.04.12.R,1935.04.12.R,1392.0,Not provided,Not provided
5020,5021,Reported 27-Apr-1931,1931,Unprovoked,NaN,French Southern Territories,Île Saint-Paul,"Fishing, boat capsized",Quillezic,M,...,NaN,"Los Angeles Times, 4/27/1931",1931.04.27.R-Quillezic.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1931.04.27.R,1931.04.27.R,1283.0,Not provided,Not provided
5060,5061,Reported 09-Dec-1929,1929,Unprovoked,NaN,NaN,NaN,NaN,Thomas Duggan,M,...,NaN,"The Age, 12/9/1929",1929.12.09.R-Duggan.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1929.12.09.R,1929.12.09.R,1243.0,Not provided,Not provided
5425,5426,17-Jan-1909,1909,Unknown,NaN,NaN,Near the equator,Jumped overboard,Thomas Butler,M,...,Questionable,"Star, 3/18/1909",1909.01.17-Butler.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1909.01.17,1909.01.17,878.0,Not provided,Not provided
5586,5587,Reported 19-Sep-1898,1898,Unprovoked,NaN,NaN,NaN,Diving,Halletts,M,...,NaN,"Lincoln Evening News & Daily Call, 9/19/1898",1898.09.19.b.R-Halletts.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1898.09.19.b.R,1898.09.19.b.R,717.0,Not provided,Not provided
5587,5588,Reported 19-Sep-1898,1898,Unprovoked,NaN,NaN,NaN,Diving,male,M,...,NaN,"Lincoln Evening News & Daily Call, 9/19/1898",1898.09.19.a.R.Sully.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1898.09.19.a.R,1898.09.19.a.R,716.0,Not provided,Not provided
5612,5613,Reported 15-Mar-1897,1897,Unprovoked,NaN,Mediterranean Sea,NaN,Swimming,male,M,...,NaN,"Daily Northwestern, 5/15/1897",1897.03.15.b.R-Mediterranean.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1897.03.15.b.R,1897.03.15.b.R,691.0,Not provided,Not provided
5636,5637,Reported 13-Jun-1895,1895,Unprovoked,NaN,NaN,NaN,Diving,Marsh,M,...,NaN,"Lima Times, 6/13/1895",1895.06.13.R-EnglishDiver.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1895.06.13.R,1895.06.13.R,667.0,Not provided,Not provided
5742,5743,30-Jul-1887,1887,Unprovoked,NaN,Gulf of California,NaN,"Sea disaster, wreck of the sloop Sara",2 males,M,...,NaN,"Austin Weekly Statesman, 8/11/1887",1887.07.30-TheSara.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1887.07.30,1887.07.30,561.0,Not provided,Not provided
5770,5771,Reported 16-Apr-1885,1885,Unprovoked,NaN,NaN,NaN,Swimming,2 males,M,...,NaN,"Gleaner (Jamaica), 4/16/1885",1885.04.16.R-GermanShip.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1885.04.16.R,1885.04.16.R,533.0,Not provided,Not provided
5808,5809,Reported 16-Aug-1881,1881,Unprovoked,NaN,Western Banks,NaN,"Floating, holding onto an oar after dory capsized",George Sedgwick,M,...,NaN,"Lewiston Evening Journal, 8/16/1881",1881.08.16.R-Sedgwick.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1881.08.16.R,1881.08.16.R,495.0,Not provided,Not provided
5810,5811,25-Jul-1881,1881,Unprovoked,NaN,NaN,Santa Cruz,Bathing,Father Hudson,M,...,NaN,"Grey River Argus,10/3/1881, p.2",1881.06.25-FatherHudson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1881.06.25,1881.06.25,493.0,Not provided,Not provided
5839,5840,13-Oct-1878,1878,Unprovoked,NaN,NaN,NaN,Jumped overboard after murdering 2 shipmates,Sherrington,M,...,NaN,The Maitland Mercury & Hunter River General Ad...,1878.10.13-Sherrington.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1878.10.13,1878.10.13,464.0,Not provided,Not provided
5885,5886,Reported 15-Jun-1874,1874,Unprovoked,NaN,NaN,NaN,Salvaging a shipwreck,male,M,...,NaN,"Daily Southern Cross, 6/15/1874",1874.06.15.a.R-Achilles-tendon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1874.06.15.a.R,1874.06.15.a.R,418.0,Not provided,Not provided
5920,5921,10-Apr-1869,1869,Unknown,NaN,NaN,NaN,Fell overboard,Christian Frederick,M,...,Shark involvement prior to death unconfirmed,"Nelson Examiner & New Zealand Chronicle, 4/24/...",1869.04.10-Frederick.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1869.04.10,1869.04.10,383.0,Not provided,Not provided
5996,5997,Reported 20-Nov-1856,1856,Unprovoked,NaN,NaN,NaN,Swimming,Cornelius Conhlren,M,...,NaN,"Pacific Commercial Advertiser, 11/20/1856",1856.11.20.R-Conhlren.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1856.11.20.R,1856.11.20.R,307.0,Not provided,Not provided
6001,6002,28-Jul-1855,1855,Unprovoked,NaN,NaN,NaN,Bathing,"a young boy, one of the crew of the Post Boy",M,...,NaN,"Maitland Mercury, 8/25/1855",1855.07.28-PostBoy-sailors.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1855.07.28,1855.07.28,302.0,Not provided,Not provided
6092,6093,Reported 22-Apr-1830,1830,Unprovoked,NaN,NaN,NaN,NaN,Jose,M,...,NaN,"The Torchlight & Public Advertiser, 4/22/1830",1830.04.22.R-Jose.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1830.04.22.R,1830.04.22.R,211.0,Not provided,Not provided
6119,6120,01-Mar-1811,1811,Unprovoked,NaN,NaN,NaN,Fell overboard,John Walker,M,...,NaN,Journal of Captain Marryat,1811.03.01-John-Walker.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1811.03.01,1811.03.01,184.0,Not provided,Not provided
6131,6132,Reported 18-Dec-1801,1801,Provoked,NaN,NaN,NaN,Standing on landed shark's tail,Stephen Pettigew,N,...,12' shark,"The Evening Post, 12/18/1801",1801.12.18.R-Pettigrew.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1801.12.18.R,1801.12.18.R,172.0,Not provided,Not provided
6133,6134,Reported May-28-1797,1797,Unprovoked,NaN,NaN,NaN,Dropped overboard,child,NaN,...,NaN,The Observer 5/28/1797,1797.05.28.R-Cloverdale.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1797.05.28.R,1797.05.28.R,170.0,Not provided,Not provided
6137,6138,05-Jul-1787,1787,Unprovoked,NaN,St Helena,Landing Place,Swimming,Private Isaac Hicksled,M,...,NaN,"H.R. Janisch (1885), Extracts from the St. Hel...",1787.07.05-Hicksled.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1787.07.05,1787.07.05,166.0,Not provided,Not provided
6155,6156,17-Dec-1742,1742,Unprovoked,NaN,NaN,Carlisle Bay,Swimming,2 impressed seamen,M,...,NaN,"C. Moore, GSAF",1742.12.17-AdviceSeamen.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1742.12.17,1742.12.17,148.0,Not provided,Not provided
6165,6166,Reported 1638,1638,Unprovoked,NaN,NaN,NaN,NaN,sailors,M,...,NaN,Sir Thomas Herbert,1638.00.00.R-Herbert,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1638.00.00.R,1638.00.00.R,138.0,Not provided,Not provided
6171,6172,1555,1555,Unprovoked,NaN,NaN,NaN,Swimming,male,M,...,NaN,Olaus Magnus,1555.00.00 - Olaus Magnus.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1555.00.00,1555.00.00,132.0,Not provided,Not provided
6175,6176,77 A.D.,77,Unprovoked,NaN,Ionian Sea,NaN,Sponge diving,males,M,...,NaN,Perils mentioned by Pliny the Elder (23 A.D. t...,77AD-Pliny.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,0077.00.00,0077.00.00,128.0,Not provided,Not provided
6177,6178,Ca. 214 B.C.,0,Unprovoked,NaN,Ionian Sea,NaN,Ascending from a dive,"Tharsys, a sponge diver",M,...,NaN,"Reported by Greek poet, Leonidas of Tarentum (...",214BC-Tharsys.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,0000.0214,0000.0214,126.0,Not provided,Not provided
6199,6200,Before 2011,0,Provoked,NaN,NaN,NaN,NaN,Phillip Peters,M,...,NaN,"Watertown Daily Times, 7/8/2011",ND-0124-Peters.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND-0124,ND-0124,104.0,Not provided,Not provided
6206,6207,Before 2012,0,Unprovoked,NaN,NaN,In a river feeding into the Bay of Bengal,Netting shrimp,Sametra Mestri,F,...,NaN,National Georgraphic Television,ND-0114-BayOfBengal.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND-0114,ND-0114,97.0,Not provided,Not provided
6259,6260,1941-1945,0,Unprovoked,NaN,NaN,NaN,A group of survivors on a raft for 17-days,C.,NaN,...,1.2 m [4'] shark,"G.A. Llano in Airmen Against the Sea, p.69",ND-0044-C.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0044,ND.0044,44.0,Not provided,Not provided

In [34]:
df['Country']=df['Country'].fillna('Unknown')

In [35]:
df.replace({'Country': r'^ASIA.$'}, {'Country': 'ASIA'}, regex=True, inplace=True)

In [36]:
df['Country'] = df.Country.apply(lambda x: x.split('?')[0])

In [37]:
df.replace({'Country': 'Fiji'}, {'Country': 'FIJI'}, regex=True, inplace=True)

In [38]:
df['Area']=df['Area'].fillna('Unknown')

In [39]:
a=df['Area'].unique()
print(a)

['California' 'Georgia' 'Hawaii' 'New South Wales' 'Colima' 'Pernambuco'
 'Florida' 'Queensland' 'South Carolina' 'Cornwall' 'Westerm Australia'
 'Eastern Cape Province' 'Hua Hin' 'Cocos Island' 'Western Australia'
 'Alifu Alifu Atoll' 'Western Cape Province' 'New Providence' 'Alagoas'
 'Unknown' 'Victoria' 'KwaZulu-Natal' 'Boi Island, Victoria'
 'Galapagos Islands' 'Fernando de Noronha' 'Sepang' 'Holquin Province'
 'Pamplemousses ' 'South Australia' 'North Island' 'New York'
 'Canary Islands' ' Upolu Island' 'Shizuoka Prefecture' 'Texas'
 'Castellón' 'Massachusetts' 'Red Sea Protectorate'
 'New Providence District' '40 miles off Grand Bahama Island'
 'Ascension Island' 'New Jersey' 'Majorca' 'Washington' 'Tabasco'
 'Anjouan' 'Ibiza Island' 'Marquesas' 'South Devon' 'New Providence '
 'Sharjah, ' 'Baja California Sur' 'Saint-Leu' 'South Island'
 'Luzon Island' 'Great Exuma' 'Saint-Andre' 'Bimini' 'Bali' 'Tuamotos'
 'Oregon' 'North Province' 'New Providence Island' 'Alicante Province'
 'Hong Kong' 'Kochi Prefecture' 'Tasmania' 'Abaco Islands' 'Alabama'
 'North Carolina' 'Isla Provedencia' 'Suez' 'Grand Terre'
 'Boa Vista Island' 'Vanua Levu' 'Santa Catarina State' 'South Province'
 'Altagracia Province' 'Grand Cayman' 'Balneário Camboriú'
 'Fujairah Emirate' 'Grand Canary Island' 'Inhambane Province' 'Phuket'
 'Alicante' 'Guanacaste' 'Bora Bora' 'Grand Bahama Island' 'Le Port'
 'Rangiroa' 'Saint-Gilles-les-Bains' 'Sardinia' 'Sinaloa'
 'Central Tuamotu' 'd\x92Étang-Salé' 'Granada'
 'Cargados Carajos Shoals (St. Brandon)' 'Moorea' 'Catalonia' 'Maryland'
 'Louisiana' 'West End' 'Delaware' 'Atsumi peninsula' 'Palmyra Atoll'
 'Wallis and Futuna' 'Baie de Sainte-Marie' 'Society Islands' 'Trinidad'
 'Okinawa Prefecture' '740 miles SE of Tarawa Atoll' 'Southern District'
 'Bay of Biscay' 'Quintana Roo' 'Exuma Islands' 'Saint-Paul' 'Taitung '
 'Kingston Parish' 'Santa Cruz Island' 'Saint-Gilles' 'Tuamotus'
 'Eleuthera' 'St. Catherine' 'Palawan' 'Mercury Islands' 'Delta' "Vava'u"
 'Inner Hebrides' 'Saint Leu' 'Trois-Bassins' 'British Colombia'
 'Guerrero' 'Saint-Benoit' 'Tabuk Province' 'Antofagasta Province'
 "St John's" 'Santa Elena' 'East New Britain' 'Bois-Blanc ' 'Moray'
 'Puerto Rico' 'Samaná Province' 'Coast Province' 'Central Province'
 'Primorsky Krai' 'Peter the Great Bay, Khasan, Primorsky Krai (Far East)'
 'Telyakovsky Bay, Khasan,  Primorsky Krai (Far East)' 'Praslin' 'Sucre'
 'Middle Caicos' 'Caicos Bank' 'San Andrés archipelago' 'Kedah'
 'Umm al Qaywayan Province' 'Vitu Levu' 'South Sinai Peninsula'
 ' Loyalty Islands' 'Saint Gilles ' 'Maine' 'Virginia' "Ha'api "
 'Western Province' 'Jeju Province' 'Binh Dinh Province'
 'Antsiranana Province' 'Sinai Peninsula' 'Off Vanua Levu' 'Merizo'
 'Rio Grande Do Sul' 'Dubai' 'Torres Strait' 'Eastern Province'
 'Eastern Cape  Province' 'Maputo Province' 'Bocas' 'Fife' 'Devon'
 'Makira-Ulawa Province' 'Mombasa' 'Catalunya' 'St. Johns Reef'
 'Off Green Island' 'North Region' 'Batangas province' 'Strait of Malacca'
 'Guantanamo Province' 'Maranhão' 'Red Sea' 'Batanes Provine' 'Luzon'
 'Northern Territory' ' Split-Dalmatia Count,' 'North Devon'
 'US Virgin Islands' 'San Carlos' 'Cabo San Lucas' 'Sussex' 'Bahia'
 'Easter Ross' 'Guerro' 'Yasawa Islands' 'Northern Bahamas' 'Tokyo Bay'
 'Baja California' 'Green Bay' 'Loyalty Islands' 'Marovo Lagoon'
 'Territory of Cocos (Keeling) Islands' 'Oslo Fjord' 'Kent' 'Bird Island'
 'Providenciales' 'Bimini Islands' 'Muhafazat Hadramawt' 'Cook islans'
 'Surigao del Norte' 'Between Somalia & Yemen' 'Ambergris Caye'
 'Saint-Pierre' 'Kentucky' 'Andros Islands' 'Guam' 'Western Area'
 '300 miles from Antigua' '800 miles from land'
 '600 nm west of the Canary Islands' 'Simpson Bay' 'East Wall'
 'Inner Islands' 'Shanghai' 'Malampa Province'
 "South Ch'ungch'ong Province" 'Bay Islands' 'New Mexico'
 'Santa Isabel Province' 'Santiago de Cuba Province' 'Camaguey Province'
 'Conservatória District' 'South Carolina ' 'Kuril Islands in the Pacific'
 'Wakayama Prefecture' "Nuku'alofa" 'Saint-Benoît'
 'South Island, near Karitane north of Dunedin' 'Rocha' 'Northlands'
 'Anzoategui' 'Cook Islands' 'Tamil Nadu' 'Pearl Islands' 'Taveuni'
 'Johnston Atoll' 'Baatan' 'Rio de Janeiro' 'Nueva Esparta' 'Southland'
 'North Pacific coast' 'Caroline Islands' 'Cheshire'
 'Louisiade Archipelago'
 'KwaZulu-Natal between Port Edward and Port St Johns'
 'Milne Bay Province' 'Cikobia Island (north of Vanua Levu)'
 'Rayong Province' 'Zamboanga del Sur Province' 'Rio Grande de Norte'
 'Off the western coast of peninsular Malaysia' 'New Brunswick'
 'Miyako Island' 'Alaska' 'Minerva Reef' 'Madang Province'
 'Worcestershire' 'Phang nga Province' 'Alinglaplap Atoll' 'Adriatic Sea'
 'Ralik Chain' 'Grand Baie' "L' Etang Salé-les-Bains" 'Southern Japan'
 'Cap Vert Peninsula' 'Marches region' 'Berry Islands' 'Transvaal' 'Gaza'
 "Grand'Anse" 'Beaufonds' 'Miyako' "L'Etang-Sale" 'Chatham Islands '
 'South Sinai, Gulf of Aqaba' 'Cat Cay' 'Missouri'
 '12 miles off the north coast' 'Saint-Paul '
 'Chatham Islands, east of New  Zealand' 'Saint-Denis' 'Vava\x92u'
 'Mississippi' 'Clearwater Bay' 'New Territories' 'Aichi Prefecture'
 'Tafea Province' 'Kagoshima Prefecture' 'Saint-Joseph' 'Banaadir Region'
 'La Libertad' 'Costa Blanca' 'Walkers Cay'
 'On the Kowloon penisula, south of Sai Kung' 'Ehime Prefecture'
 'Tongapatu Group' 'West Africa' 'Wakaya Island' 'North Carolina '
 'Mexico / Caribbean Sea' 'Antarctic Ocean' 'La Saline-les-Bains'
 'Sea of Japan' 'Tavenui' 'Ligurian Sea' "L'Etang-Salé"
 'Kowloon Peninsula' 'Port Shelter' 'Laucala Island' 'Sainte-Marie'
 'Great Exuma Island' 'Sainte-Suzanne' 'Tuscany' 'Tyrrhenian Sea'
 'New Ireland' 'Valpariso Province' 'Viscayan Sea' 'Manfredonia '
 'Tokyo Prefecture' 'Saint-Louis' 'Mindoro' 'Between DR and Puerto Rico'
 'Between Honiara & Isabel Island' 'Florida Straits' 'Gulf of Lyons'
 'Cádiz' 'Sicily' 'Andikira Fokithes' 'Central Philippines' 'Rhode Island'
 'Northwest Italy' 'English Channel' 'North & South Carolina'
 'Kumamoto Prefecture' 'Biserta' 'Saint-Philippe' 'Chungnam'
 'Eronogo Region' 'Coquimbo' 'Pagasitikos Gulf' "St. Mary's Parish"
 'Romblon Province' 'Lamu Archipelago' 'Los Vilos' 'Island of Kos'
 "Ha'api" 'Madeira Islands' 'Ho Ha Wan Marine Park' 'Southern Thailand'
 'Golfo de Venezia' 'Ralik Archipelago'
 'South China Sea 200 miles from Hong Kong' 'Reggio Calabria Province'
 'Mirs Bay ' 'Genoa Province' 'Ganges-Brahmaputra delta'
 ' Split-Dalmatia County' 'Florida ' 'Primorje-Gorski Kotar County '
 'Aulong Island' 'Western Caroline Islands' 'Upolu Island' 'Antibes'
 'Illeginni Atoll' 'Istria County' 'Between Beira & Maputo'
 'Khuzestan Province' 'Inhambe Province' 'Namonuito Atoll'
 'Eastern Caroline Islands'
 'Western Caroline Islands (North Pacific Ocean)' 'Caribbean Sea'
 'St. Andrew Parish' '200 nm southeast of Manila' 'Limpopo River'
 'New Ireland Province' 'Zadar County' 'Basrah' 'Clarendon' 'Moro Gulf'
 'Johor' 'Magdalena Department' 'Mafia Island' 'Gulf Province'
 'Morobe Province' 'Limón Province' 'Rombion Province' 'Veracruz'
 'Brindisi Province' 'Kagawa Prefecture' 'Liguria' 'Hamilton'
 'Out Islands' 'Mugla Province' 'Gibraltar' 'New Britain' 'Bay of Maputo'
 'Duke of York Islands' 'Taranto province' 'Northern Taiwan'
 'Admiralty Islands, Manus Province' 'North Sumatra'
 "250 miles southwest of O'ahu, Hawaii" 'West coast' 'East Sepik'
 'Near Bougainville (North Solomons)' 'East of the Gulf of Aqaba'
 'Bougainville (North Solomons)' 'Victoria ' 'Okayama Prefecture'
 'San Blas' 'Connecticut' 'Lau Group' 'Caribbean Coast' 'Vita Levu'
 'San Blas Islands' 'Puntarenas Province' 'Lomaloma, Lau'
 'Between Southampton & Canary Islands' 'South Coast, East New Britain'
 ' Lau Province' 'Ysabel Island' 'Santo Domingo' 'San Blas coast'
 'Thessaly' 'Lomaiviti  Island Group' 'Rodrigues' 'Manus Island'
 'Pinas Bay' 'Grand Turk Island' 'Off coast of West Africa' 'Sharon'
 'Antalya Province' 'Northern District'
 'New Ireland Province, Bismarck Archipelago' 'Cyclades' 'Viti Levu'
 'Off the Coromandel Peninsula, North Island' 'Madang'
 'Guadalcanal Province' '10ºS, 142ºE' 'Kwajalein Atoll' 'East Flores'
 'Guerrrero' 'Western Luzon Island' 'Shefa Province'
 '165  miles from Bermuda'
 '25 km off the coast of Iran & 483km from mouth of Persian Gulf'
 'Venice Province' 'Sandaun Province' 'Anatolia'
 'East New Britain Province' 'United Arab Emirates'
 'Wake Island (EnenKio)' '19S, 178?E' 'Pennsylvania' '9.35N 79.35W'
 'Roncador Bank' 'Western District' 'Enroute from Suez to Aden (Yemen)'
 '180 miles southeast of Okinawa' 'Eniwetok Atoll' 'Cap-Vert Peninsula'
 'Delagoa Bay' 'In the English Channel ' 'Cook Strait'
 'Unknown, treated at Wick, SCOTLAND' 'Corregidor Island' 'Paget'
 '33N, 68W' 'Casamance' 'Madang (WO)' 'Between Timor & Darwin, Australia'
 'Pacific coast' 'St. Georges ' 'Eastern  Province'
 'Northwest of Viti Levu' 'West New Britain Province' 'Rigo subdistrict'
 'Masbate' '400 miles southeast of Sri Lanka' 'Lomaiviti Province'
 'Kadavu' 'Leyte Island' 'Orissa' 'Hokkaido Prefecture' 'North Palawan'
 'Queaon' 'Istria' 'PANAMA' 'In the Gulf Stream ' 'Mersin Province'
 'Guyamas' 'Between England & South Africa' 'Mindanao'
 ' Kikori River mouth' 'South Chungcheong Province' 'Ahirkapi coast'
 'Tutuila Island' 'Primorje-Gorski Kotar County'
 'Between Hawaii & Wake Island' 'Taipei Hsien' 'Ibaraki Prefecture'
 'South Pacific Ocean' 'Canal Zone' '1,000 miles east of Hawaii' 'Honiara'
 'Yucatan Channel' 'Havana Province' 'Karun River'
 'Abau Subdistrict,Central Province' 'New Britain, Bismarck Archipelago'
 'Estuaire Province' 'Near Dakar, Cap Vert Peninsula'
 'Near the Andaman & Nicobar Islands' 'Mozambique Channel' 'Tyrrenian Sea'
 'Congreve Channel' 'St. Thomas Bay' 'Madeira'
 'Between Comores & Madagascar' 'Corfu Island' '1000 miles west of Hawaii'
 'Izo Islands' ' Primorje-Gorski Kotar County' 'Open sea' 'Aden'
 'New Ireland, Bismarck Archipelago' '18S / 50E' 'Illinois'
 'Isles del Rosario' 'Wake Island' 'Isle of Man' 'Nagasaki Prefecture'
 'Liguaria' 'Slovenia' 'South shore ' 'Buenos Aires Province'
 '330 to 350 miles east of Wake Island' 'Nova Scotia' 'Gulf of Panama'
 'Genoa  Province' 'Abau Sub District, Central Province' 'Teramo'
 'Red Sea State' 'Curacao' 'Port Louis Province' 'Montserrado'
 'Bay of Maputu' 'Sofala Province' 'Salerno' 'Salerno Province' 'Taranto'
 'Naples Province' ' La Libertad' 'Sago Prefecture' 'Savona'
 'Southern Province' 'Jakarta Harbour' 'Singapore Harbor' 'Calabria'
 'Shatt-el-Arab River' 'Shatt-al-Arab River' 'Tamaulipas'
 'Calvados Archipelago' 'Shat-Al-Arab River'
 'Between Kwajalein Atoll & Johnston Island' 'Attica' 'Adana Province'
 'Bandar Ma\x92shur sea inlet' 'Saipan' 'Carpathian Sea' 'Kwajalein'
 'Dar-es-Salaam ' '"Head of the Gulf"' 'Ryukyu' ' North Carolina'
 'In transit between Tinian and Leyte' 'Northern Java' 'Tel Aviv'
 'Colon Province' '300 miles east of Luzon'
 'Bernardino Strait near Gulf of Leyte'
 'Off Samar Island in the Gulf of Leyte' 'Lake Nicaragua (fresh water)'
 'Pacific Ocean' 'Near the Fiji Islands' '40 miles south of Naples '
 'Northwest of Papua New Guinea' 'Between Hawaii and U.S.A.'
 'Off South American coast' 'Makora-Ulawa Province' '04.05N-13.23W'
 'Midway Atoll' '300 miles east of St. Thomas (Virgin Islands)'
 'West of Ceylon (Sri  Lanka)' 'East Java' 'Camiguin Island'
 'Cay Sal Bank' '(Southwestern Pacific)' 'Panama City' 'Off Libya'
 'North of Pernambuco, Brazil' 'Off coast of Ecuador' 'Trelawney Province'
 'In Convoy OB 274' 'New Georgia' 'Panama Bay (Pacific Ocean)' 'Bwagaoia'
 'Western Papuan Gulf' 'Torres Strait ' 'Carabobo' 'Ascension Bay'
 'North China' 'Lower San Juan River' 'Nicoya Peninsula' 'Basrah City'
 'West Bengal' 'Queensland ' 'Argyllshire' 'Arran' 'Argyll'
 'Fishing Grounds' 'Newfoundland' 'Isle of Wight' 'Makira-Uluwa Province'
 'Northern (Oro) Province' 'Herzliyah' 'Elqui Province' 'Istanbul'
 'St Michael Parish' 'Barlavento Islands' 'Viti Levu Island'
 'Bay of Fundy' 'Manila' 'French Southern Territories' 'Niua '
 'Black River' 'Phoenix Islands' 'Cienfuegos Province' 'Valencia'
 'Santiago Island' 'Near Puntarenas' 'Porto Seguro' 'Salinas Bay'
 'Golfo di Genova in the Ligurian Sea' 'Sants-Montjic'
 'South of the Equator ' 'Bay of Monaco' 'Valencia ' 'Vancouver'
 '2 to 3 miles off Taboguilla Island, Pacific Ocean' 'Dorset'
 '150 miles offshore' 'Galica' 'Demerara County' 'Vera Cruz' ' Manila Bay'
 'Lucy' 'East Yorkshire' 'Westmoreland Parish' 'Cavite Province, Luzon'
 'Cape Haitien' 'Leyte' 'Halifax' 'Turtle Bogue'
 '60 miles north of San Domingo in the West Indies' 'Colon' 'Off Ireland'
 'Mediterranean Sea' 'Gran Canaria' 'Apolima Strait' 'Essequibo' 'Lagos '
 'Trieste' '5aint-Denis' 'Viti Levu group' 'Balearics' 'Málaga '
 'Chatham Islands' 'Georges Bank' 'Zambesi River' 'Colón Province'
 '30 nm from Singapore' 'Andalucia' 'Sfax' 'South Atlantic Ocean'
 'Galicia' 'Gulf of Suez' 'Java' 'Tiburon Peninsula' 'Oaxaca'
 'Harare Province' 'Khánh Hòa Province' 'Maluku Province' 'Suez Canal'
 ' Nusa Tenggara' 'Between Noumea & Sydney' 'Villa Clara Province'
 'Ancona Province' 'Quezon' 'Rio San Juan' 'Southern Cyprus' 'Syracuse'
 'Western Viscayas' 'Mindoro Occidental' 'Negros ' 'Imperia Province'
 'Muala' 'East coast' 'Ratak ' 'Socotra Islands' 'Off Cape Haitien'
 'Moluccas' 'Bocas del Toro' 'Provence' 'Bay of Campeche' 'Rangoon'
 'Bay of Bengal' 'Bayelsa State' 'South Island?' 'Norfolk Island'
 'Brittany' 'Line Islands' 'Woodlark Islands' 'Munxar Reef'
 'Northern Peloponnese' 'Between Perth & Colombo' 'Gujarat' 'Lukovo'
 'Cortés' 'Gulf of California'
 'Somewhere between Philadelphia and Hiogo, Japan' ' New Jersey'
 "Côte d'Azur  " 'Maldonado coast' 'Western Banks' 'Andaman Islands'
 'Off the coast of West Africa' 'Misamis Oriental' 'Strait of Messina'
 'Hoogly River' 'Cyclades archipelago' 'Mount Lebanon'
 'Between Hastings & Fairlight, Sussex' 'Veracruz ' 'Gilbert Islands'
 'Lomaiviti Provine' 'Off the coast of South America' '22ºN, 88ºE'
 'Matanzas Province (north coast)' 'Alpes Maritime' 'Edinburgh'
 'Eastern Catalona' '300 miles east of Mauritius' 'Foveaux Strait'
 'Sumatra' 'Conakry Region' 'Corfu' 'Malaga' 'Bonin Islands'
 'Fernando Po Island' 'Mangaia Island' 'New York ' 'Corfu '
 'Between Australia & USA' 'Tongatapu' 'Norfolk' 'Island of St. Thomas'
 'Cumberland' 'Sanma Province' "35º39 : 165º8'" 'CUBA' 'Western Area '
 'Paraiba' 'Cape Coast' 'Rivers State' 'Maharashtra' 'St. Anne'
 'St Helena' "Côte d'Azur " 'Skagerrak arm of the North Sea'
 'Las Perlas archipelago' 'Bardestrand' 'Southwest coast' 'Kerala'
 'Nice & Marseilles' 'Magarita or Cubagua Islands' 'Ionian Sea' 'Piraeus'
 'Off Thessaly' 'Bocas del Toro Province' 'Rocha ' 'Gulf of Tadjoura'
 'Cyrenaica' 'Northern Province' 'Los Roques  Islands'
 'Dodecanese Islands' 'Malaita Province' 'South Korea'
 'Milne Bay  Province' 'Island of Volos' 'Amirante Islands'
 'Kadavu Island Group' 'Toamasina Province' 'Riau Province' 'Bikini Atoll'
 'Between New Ireland & New Britain' 'Ba Ria-Vung Tau  Province'
 'Moala Island']

In [40]:
df['Location'].unique()

array(['Oceanside, San Diego County', 'St. Simon Island, Glynn County',
       'Habush, Oahu', ..., 'Ocracoke Inlet', 'Panama Bay 8ºN, 79ºW',
       'Below the English fort, Trincomalee'], dtype=object)

In [41]:
df['Location']=df['Location'].fillna('Unknown')

In [42]:
df['Location'].value_counts()

Unknown                                        540
New Smyrna Beach, Volusia County               163
Daytona Beach, Volusia County                   30
Ponce Inlet, Volusia County                     20
Melbourne Beach, Brevard County                 18
                                              ...
Will Rogers State Beach, Los Angeles County      1
Point Lowly, north of Whyalla                    1
Clarence Head                                    1
Between Carnac and Garden Islands                1
Frikkies Bay                                     1
Name: Location, Length: 4109, dtype: int64

In [43]:
df['Activity']=df['Activity'].fillna('Unknown')

In [44]:
df['Name']=df['Name'].fillna('Unknown')

In [45]:
df.columns = df.columns.to_series().apply(lambda x: x.strip())

In [46]:
df['Sex'].unique()

array(['F', 'M', nan, 'M ', 'lli', 'N', '.'], dtype=object)

In [47]:
df['Sex']=df['Sex'].fillna('Unkown')

In [48]:
df['Sex'].unique()

array(['F', 'M', 'Unkown', 'M ', 'lli', 'N', '.'], dtype=object)

In [49]:
df['Sex']=df.Sex.apply(lambda x: x.strip())

In [50]:
df['Sex'].unique()

array(['F', 'M', 'Unkown', 'lli', 'N', '.'], dtype=object)

In [51]:
df.replace({'Sex' : { 'lli' : 'Unknown', 'N' : 'Unknown', '.' : 'Unkown' }},inplace=True)

In [52]:
df.replace({'Sex':'Unkown'},{'Sex':'Unknown'}, regex=True, inplace=True)

In [53]:
df['Age']=df['Age'].fillna('Unknown')

In [54]:
df['Age'].isnull().sum()

0

In [55]:
df['Age'].unique()

array(['57', '11', '48', 'Unknown', '18', '52', '15', '12', '32', '10',
       '21', '34', '30', '60', '33', '29', '54', '41', '37', '56', '19',
       '25', '69', '38', '55', '35', '46', '45', '14', '40s', '28', '20',
       '24', '26', '49', '22', '7', '31', '17', '40', '13', '42', '3',
       '8', '50', '16', '82', '73', '20s', '68', '51', '39', '58', 'Teen',
       '47', '61', '65', '36', '66', '43', '60s', '9', '72', '59', '6',
       '27', '64', '23', '71', '44', '62', '63', '70', '18 months', '53',
       '30s', '50s', 'teen', '77', '74', '28 & 26', '5', '86', '18 or 20',
       '12 or 13', '46 & 34', '28, 23 & 30', 'Teens', '36 & 26',
       '8 or 10', '84', '\xa0 ', ' ', '30 or 36', '6½', '21 & ?', '75',
       '33 or 37', 'mid-30s', '23 & 20', ' 30', '7      &    31', ' 28',
       '20?', "60's", '32 & 30', '16 to 18', '87', '67', 'Elderly',
       'mid-20s', 'Ca. 33', '74 ', '45 ', '21 or 26', '20 ', '>50',
       '18 to 22', 'adult', '9 & 12', '? & 19', '9 months', '25 to 35',
       '23 & 26', '1', '(adult)', '33 & 37', '25 or 28',
       '37, 67, 35, 27,  ? & 27', '21, 34,24 & 35', '30 & 32', '50 & 30',
       '17 & 35', 'X', '"middle-age"', '13 or 18', '34 & 19', '33 & 26',
       '2 to 3 months', 'MAKE LINE GREEN', ' 43', '81', '"young"',
       '7 or 8', '78', '17 & 16', 'F', 'Both 11', '9 or 10', 'young',
       '36 & 23', '  ', 'A.M.', '?    &   14', '10 or 12', '31 or 33',
       '2½', '13 or 14'], dtype=object)

In [56]:
df['Age']=df.Age.apply(lambda x: x.lstrip())

In [57]:
df.replace({'Age': 'Elderly'}, {'Age': 'Unknown'}, regex=True, inplace=True)

In [58]:
df.replace({'Age': 'Teen'}, {'Age': 'Unknown'}, regex=True, inplace=True)

In [59]:
df.replace({'Age': 'teen'}, {'Age': 'Unknown'}, regex=True, inplace=True)

In [60]:
df.replace({'Age': 'young'}, {'Age': 'Unknown'}, regex=True, inplace=True)

In [61]:
df.replace({'Age': 'adult'}, {'Age': 'Unknown'}, regex=True, inplace=True)

In [62]:
df.replace({'Age': 'X'}, {'Age': 'Unknown'}, regex=True, inplace=True)

In [63]:
df.replace({'Age': 'F'}, {'Age': 'Unknown'}, regex=True, inplace=True)

In [64]:
df.replace({'Age': 'A.M.'}, {'Age': 'Unknown'}, regex=True, inplace=True)

In [65]:
df.replace({'Age': 'MAKE LINE GREEN'}, {'Age': 'Unknown'}, regex=True, inplace=True)

In [66]:
df.replace({'Age': 'middle-age'}, {'Age': 'Unknown'}, regex=True, inplace=True)

In [67]:
df['Age'] = df.Age.apply(lambda x: x.split('s')[0])

In [68]:
df['Age'] = df['Age'].str.strip()

In [69]:
df.replace({'Age': ''}, {'Age': 'Unknown'}, regex=True, inplace=True)

In [70]:
df.replace({'Age': '>50'}, {'Age': 'Unknown'}, regex=True, inplace=True)

In [71]:
df['Injury']=df['Injury'].fillna('Unknown')

In [72]:
df['Injury'].value_counts()

FATAL                                                                                                   802
Survived                                                                                                 97
Foot bitten                                                                                              87
No injury                                                                                                82
Leg bitten                                                                                               72
                                                                                                       ...
Boat damaged                                                                                              1
No injury, but sharks repeatedly hit their fins and guns                                                  1
Minor punctures & lacerations on left hand                                                                1
Numerous puncture wounds to leg                                                                           1
No injury to occupants, They fought off sharks & killed one with an automatic. Rescued 34 days later      1
Name: Injury, Length: 3737, dtype: int64

In [73]:
df['Fatal (Y/N)']=df['Fatal (Y/N)'].fillna('Unknown')

In [74]:
df.replace({'Fatal (Y/N)': 'UNKNOWN'}, {'Fatal (Y/N)': 'Unknown'}, regex=True, inplace=True)

In [75]:
df['Fatal (Y/N)'] = df['Fatal (Y/N)'].str.strip()

In [76]:
df.replace({'Fatal (Y/N)': 'y'}, {'Fatal (Y/N)': 'Y'}, regex=True, inplace=True)

In [77]:
df.replace({'Fatal (Y/N)': 'M'}, {'Fatal (Y/N)': 'Unknown'}, regex=True, inplace=True)

In [78]:
df.replace({'Fatal (Y/N)': 'UnknownUnknownUnknownUnknown'}, {'Fatal (Y/N)': 'Unknown'}, regex=True, inplace=True)

In [79]:
df['Time']=df['Time'].fillna('Unknown')

In [80]:
df['Time'] = df['Time'].str.strip()

# SPECIES

In [81]:
df['Species']=df['Species'].fillna('Unknown')

In [82]:
df['Investigator or Source'].value_counts()

C. Moore, GSAF                                     105
C. Creswell, GSAF                                   92
S. Petersohn, GSAF                                  82
R. Collier                                          55
R. Collier, GSAF                                    48
                                                  ...
Miami Herald,  7/12/1988, p.1B                       1
A.Resciniti, p.107                                   1
H. Edwards, p.31, citing Sebastian Manrique          1
Orlando Sentinel, 7/16/1963                          1
P. Lynch, N. Doveton, G. Wolfe, M.Levine, GSAF       1
Name: Investigator or Source, Length: 4969, dtype: int64

In [83]:
df.rename(columns = {'Investigator or Source':'Source'}, inplace = True)

In [84]:
df['Source']=df['Source'].str.strip()

In [85]:
df['Source']=df['Source'].fillna('Unknown')

In [86]:
df['href formula']=df['href formula'].str.strip()

In [87]:
df['href formula']=df['href formula'].fillna('Not provided')

In [88]:
df['original order']=df['original order'].astype(int)

In [89]:
df['original order'].head()

0    6303
1    6302
2    6301
3    6300
4    6299
Name: original order, dtype: int32

In [90]:
df.rename(columns ={'Case Number.1':'Case Number'}, inplace=True)

In [91]:
df['Date']=df['Date'].str.strip()

In [92]:
df.replace({'Date': 'No date'}, {'Date': 'Unknown'}, regex=True, inplace=True)

In [93]:
df1=df.copy()

In [94]:
df['Date']= df.Date.apply(lambda x : x
                        .replace('Reported ', '')
                        .replace('Early ',    '')
                        .replace('Late ',     '')
                        .replace('--',        '-')
                        .replace('Before',     '')
            )

In [95]:
from datetime import datetime
from datetime import date

In [96]:
df['Others'] = pd.to_datetime(df.Date, errors='coerce')

In [97]:
df['Others'] = pd.DatetimeIndex(df['Others']).month

In [98]:
df['Others']=df['Others'].fillna(0)

In [99]:
df['Others']=df['Others'].astype(int)

In [100]:
df.replace({'Month': '1'}, {'Month': 'January'}, regex=True, inplace=True)

In [101]:
df.replace({'Others': '2'}, {'Others': 'February'}, regex=True, inplace=True)

In [102]:
df.replace({'Others': '3'}, {'Others': 'March'}, regex=True, inplace=True)

In [103]:
df.replace({'Others': '4'}, {'Others': 'April'}, regex=True, inplace=True)

In [104]:
df.replace({'Others': '5'}, {'Others': 'May'}, regex=True, inplace=True)

In [105]:
df.replace({'Others': '6'}, {'Others': 'June'}, regex=True, inplace=True)

In [106]:
df.replace({'Others': '7'}, {'Others': 'July'}, regex=True, inplace=True)

In [107]:
df.replace({'Others': '8'}, {'Others': 'August'}, regex=True, inplace=True)

In [108]:
df.replace({'Others': '9'}, {'Others': 'September'}, regex=True, inplace=True)

In [109]:
df.replace({'Others': '10'}, {'Others': 'October'}, regex=True, inplace=True)

In [110]:
df.replace({'Others': '11'}, {'Others': 'November'}, regex=True, inplace=True)

In [111]:
df.replace({'Others': '12'}, {'Others': 'December'}, regex=True, inplace=True)

In [112]:
df.replace({'Others': '0'}, {'Others': 'Unknown'}, regex=True, inplace=True)

In [113]:
df=df.rename(columns={'Others':'Month'})

In [114]:
df['Date'] = pd.to_datetime(df.Date, errors='coerce')

In [115]:
df['Date']=df['Date'].fillna('Unknown')

In [116]:
df['Country']=df['Country'].str.replace(r'\/.+|\(.+\)|\.|\?','')

In [117]:
df['Country']=df['Country'].str.replace('\&', 'and')

In [118]:
df['Country']=df.Country.apply(lambda x: x.upper())

In [119]:
df.replace({'Country': 'COLUMBIA'}, {'Country': 'COLOMBIA'}, regex=True, inplace=True)

In [120]:
df.replace({'Country': 'ATLANTIC OCEAN'}, {'Country': 'UNKNOWN'}, regex=True, inplace=True)

In [121]:
df.replace({'Country': 'ST MAARTIN'}, {'Country': 'ST MARTIN'}, regex=True, inplace=True)

In [122]:
df.replace({'Country': 'DIEGO GARCIA'}, {'Country': 'UNKNOWN'}, regex=True, inplace=True)

In [123]:
df.replace({'Country': 'MID UNKNOWN'}, {'Country': 'UNKNOWN'}, regex=True, inplace=True)

In [124]:
df.replace({'Country': 'MID UNKNOWN'}, {'Country': 'UNKNOWN'}, regex=True, inplace=True)

In [125]:
df.replace({'Country': 'NORTH UNKNOWN'}, {'Country': 'UNKNOWN'}, regex=True, inplace=True)

In [126]:
df.replace({'Country': 'BETWEEN PORTUGAL AND INDIA'}, {'Country': 'UNKNOWN'}, regex=True, inplace=True)

In [127]:
df['Country'] = df['Country'].str.strip()

In [128]:
df.replace({'Country': 'MEDITERRANEAN SEA'}, {'Country': 'UNKNOWN'}, regex=True, inplace=True)

In [129]:
df.replace({'Country': 'COAST OF AFRICA'}, {'Country': 'AFRICA'}, regex=True, inplace=True)

In [130]:
df.replace({'Country': 'MID-PACIFC OCEAN'}, {'Country': 'UNKNOWN'}, regex=True, inplace=True)

In [131]:
df.replace({'Country': 'CENTRAL PACIFIC'}, {'Country': 'UNKNOWN'}, regex=True, inplace=True)

In [132]:
df.replace({'Country': 'BRITISH OVERSEAS TERRITORY'}, {'Country': 'UNITED KINGDOM'}, regex=True, inplace=True)

In [133]:
df['Area']=df['Area'].str.strip()

In [134]:
df.replace({'Fatal (Y/N)':'2017'},{'Fatal (Y/N)':'Unknown'}, regex=True, inplace=True)

In [135]:
df[df['Activity'].str.contains('Fishing')][['Activity','Fatal (Y/N)']]

              Activity Fatal (Y/N)
7              Fishing           N
13             Fishing           N
23             Fishing           N
31             Fishing           N
55    Fishing / Wading           N
...                ...         ...
6283           Fishing           N
6289           Fishing           Y
6293           Fishing           Y
6294           Fishing           Y
6295           Fishing           Y

[633 rows x 2 columns]

In [136]:
df['Name']=df.Name.apply(lambda x: x.upper())

In [137]:
df['Name']=df['Name'].str.replace('MALE', 'UNKNOWN')

In [138]:
df['Name']=df['Name'].str.replace('FEMALE', 'UNKNOWN')

In [139]:
df.replace({'Name': r'^FEMALE.$'}, {'Name': 'UNKNOWN'}, regex=True, inplace=True)

In [140]:
df['Name']=df['Name'].str.replace(r'\/.+|\(.+\)|\.|\?','')

In [141]:
df['Name']=df['Name'].str.replace(r'\W',' ')

In [142]:
df['Name']=df.Name.apply(lambda x: x.capitalize())

In [143]:
df['Name']=df['Name'].str.replace(r'\d+','')

In [144]:
df['Age']=df['Age'].str.replace(r'18 month','1.5')

In [145]:
df['Age']=df['Age'].str.replace(r'9 month','<1')

In [146]:
df['Age']=df['Age'].str.replace(r'2 to 3 month','<1')

In [147]:
df['Age']=df['Age'].str.replace(r'2 to 3 month','<1')

In [148]:
df['Age']=df['Age'].str.replace(r'Both 11','11')

In [149]:
df['Age']=df['Age'].str.replace(r'(Unknown)','Unknown')

In [150]:
def clean_species(entry):
    
    
    if isinstance(entry, float) or (len(entry.split(' '))==1):
        return "Not identified"
    else:
        species = entry.split(' ')
        
        s=" ".join([species[i] for i in range(len(species)-1) if species[i+1] == 'shark' or species[i+1] == 'shark,'])

        if len(s) <3:
            return "Not identified"
        elif ord(s[0].lower()) not in range(ord('a'), ord('z')):
            return "Not identified"
        else:
            return s

In [151]:
df['Species']=df.Species.apply(clean_species)

In [152]:
print(df['Injury'].unique())

['No injury to occupant, outrigger canoe and paddle damaged'
 'Minor injury to left thigh'
 'Injury to left lower leg from surfboard skeg' ...
 'FATAL, leg stripped of flesh  '
 'FATAL, knocked overboard by tail of shark & carried off by shark '
 'FATAL. "Shark bit him in half, carrying away the lower extremities" ']

In [153]:
df['pdf']=df['pdf'].str.capitalize()

In [154]:
df = df[['Id',
 'Date',
 'Month',
 'Year',
 'Type',
 'Country',
 'Area',
 'Location',
 'Activity',
 'Name',
 'Sex',
 'Age',
 'Injury',
 'Fatal (Y/N)',
 'Time',
 'Species',
 'Source',
 'pdf',
 'href formula',
 'href',
 'Case Number',
 'Case Number.2',
 'original order',
 'Additional Info',
 ]]

In [155]:
df['Additional Info']=df['Additional Info'].str.replace(r'stopped here','Not provided')

In [156]:
df['Time']=df['Time'].str.replace('h',':')

In [157]:
df['Time'] = df['Time'].replace(to_replace ='\D', value = '', regex = True)

In [158]:
df['Time']=df['Time'][df['Time'].str.len()<5]

In [159]:
df['Time']=df['Time'].fillna('Unknown')

In [160]:
def clean_activity(entry):
    activities = entry.split(" ")
    
    for a in activities:
        if a.endswith('ing'):
            ac = a
            return ac

In [161]:
df['Activity']=df.Activity.apply(clean_activity)

In [162]:
df['Activity']=df['Activity'].str.capitalize()

In [163]:
df['Activity'].unique()

array(['Paddling', 'Standing', 'Surfing', 'Diving', 'Swimming', 'Fishing',
       'Walking', 'Feeding', 'Boarding', 'Paddle-skiing', 'Windsurfing',
       'Paddleboarding', 'Wading', 'Cleaning', 'Snorkeling',
       'Spearfishing', None, 'Bathing', 'Kayaking', 'Poaching',
       'Canoeing', 'Skimboarding', 'Touching', 'Attempting', 'Kakaying',
       'Washing', 'Grabbing', 'Tagging', 'Skiing', 'Floating',
       'Lobstering', 'Teasing', 'Surf-skiing', 'Photographing',
       'Treading', 'Playing', 'Sitting', 'Rowing', 'Bodysurfing',
       'Filming', 'Petting', 'Kneeling', 'Watching', 'Kitesurfing',
       'Sailing', 'Kiteboarding', 'Casting', 'Wrangling', 'Dragging',
       'Bodyboarding', 'Crayfishing', 'Jumping', 'Collecting', 'Holding',
       'Wakeboarding', 'Rescuing', 'Measuring', 'Paddle-boarding',
       'Paddle-surfing', 'Crawling', 'Crabbing', 'Sinking', 'Towing',
       'Free-diving', 'Removing', 'Reviving', 'Shrimping', 'Lifesaving',
       'Competing', 'Crouching', 'Scurfing', 'Chumming',
       'Boogie-boarding', 'Boeing', 'Wade-fishing', 'Wearing', 'Carrying',
       'Killing', 'Body-boarding', 'Kite-boarding', 'Hiking',
       'Conducting', 'Lying', 'Splashing', 'Cruising', 'Moving',
       'Gathering', '"riding', 'Sleeping', 'Freediving', 'Falling',
       'Stamding', 'Riding', 'Preparing', 'Finning', 'Resting',
       'Observing', 'Skindiving', 'Sittting', 'Returning', 'Dropping',
       'Ditching', 'Meshing', 'Racing', 'Investigating', 'Foundering',
       'During', 'Water-skiing', 'Paddleskiing', 'Inspecting', 'Catching',
       'Exercising', 'Gaffing', 'Clinging', 'Drawing', 'Thrashing',
       'Being', 'Trying', 'Surf-fishing', 'Netting', 'Sight-seeing',
       'King', 'Leaving', 'Clamming', 'Picking', 'Pulling', 'Hunting',
       'Throwing', 'Helping', 'Hauling', 'Sunbathing', 'Spearing',
       'Retrieving', 'Dangling', 'Searching', 'Testing', 'Seining',
       'Abandoning', 'Missing', 'Escaping', 'Pushing', 'Climbing',
       'Surveying', 'Attaching', 'Checking', 'Using', 'Taking', 'Chasing',
       'Lining', 'Tossing', 'Lifting', 'Setting', 'Trailing', 'Hanging',
       'Gigging', 'Working', '"climbing', 'Ducking', 'Dynamiting',
       'Longling', 'Boating', '"flying', 'Crossing', 'Landing', 'Cutting',
       'Recovering', 'Goggle-diving', 'Defecating', 'Bending',
       'Examining', 'Involving', 'Bringing', 'Flying', 'Reading',
       'Guarding', 'Travelling', 'Sculling', 'Waiting', 'Burning',
       'Bathing/swimming', 'Scooping', 'Awaiting', 'Launching', 'Feeling',
       'Repairing', 'Shelling', 'Dismantling', 'Hoisting', '"swimming',
       'Stuffing', 'Pearling', 'Laying', 'Expecting', 'Shooting',
       'Harpooning', 'Footing', 'Angling', '"crossing', 'Pursuing',
       'Fleeing', 'Drowning', 'Oystering', 'Yachting', 'Restraining',
       'Traveling', 'Murdering', 'Salvaging', 'Painting', 'Coming',
       'Reaching', 'Deserting', 'Fighting', 'Harassing', 'Hooking',
       'Loading', 'Ascending', 'Net-fishing', 'Lashing'], dtype=object)

In [164]:
df['Injury'].unique()

array(['No injury to occupant, outrigger canoe and paddle damaged',
       'Minor injury to left thigh',
       'Injury to left lower leg from surfboard skeg', ...,
       'FATAL, leg stripped of flesh  ',
       'FATAL, knocked overboard by tail of shark & carried off by shark ',
       'FATAL. "Shark bit him in half, carrying away the lower extremities" '],
      dtype=object)

In [165]:
df['Injury']=df['Injury'].str.replace('FATAL','Unknown')

In [166]:
df['Injury']=df['Injury'].str.strip()

In [167]:
df=df.rename(columns={'href':'Href','href formula': 'Href Formula'})

In [168]:
df=df.rename(columns={'original order':'Original Order'})

In [169]:
df['Activity']=df['Activity'].fillna('Unkwnon')

In [172]:
df=df.rename(columns={'Case Number.2':'Case Number repeat'})

In [174]:
df.to_csv('attacksCesar.csv')

In [173]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6302 entries, 0 to 6301
Data columns (total 24 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Id                  6302 non-null   int32
 1   Date                6302 non-null   object
 2   Month               6302 non-null   int32
 3   Year                6302 non-null   int32
 4   Type                6302 non-null   object
 5   Country             6302 non-null   object
 6   Area                6302 non-null   object
 7   Location            6302 non-null   object
 8   Activity            6302 non-null   object
 9   Name                6302 non-null   object
 10  Sex                 6302 non-null   object
 11  Age                 6302 non-null   object
 12  Injury              6302 non-null   object
 13  Fatal (Y/N)         6302 non-null   object
 14  Time                6302 non-null   object
 15  Species             6302 non-null   object
 16  Source              6302 non-null   object
 17  pdf                 6302 non-null   object
 18  Href Formula        6302 non-null   object
 19  Href                6302 non-null   object
 20  Case Number         6302 non-null   object
 21  Case Number repeat  6302 non-null   object
 22  Original Order      6302 non-null   int32
 23  Additional Info     6302 non-null   object
dtypes: int32(4), object(20)
memory usage: 1.1+ MB

In [171]:
l

NameError: name 'l' is not defined